[submodule "crates/sf-sip/vendor/re"]
	path = crates/sf-sip/vendor/re
	url = https://github.com/baresip/re
	shallow = true
[submodule "crates/sf-sip/vendor/baresip"]
	path = crates/sf-sip/vendor/baresip
	url = https://github.com/baresip/baresip
	shallow = true
[submodule "crates/sf-sip/vendor/libg722"]
	path = crates/sf-sip/vendor/libg722
	url = https://github.com/sippy/libg722
	shallow = true
